/artisan_bat_read_me.txt
/composer_bat_read_me.txt
/domains.txt
/Read_me1.txt
/Read_me2.txt
/mysql
/Read_me3.txt
/docker_test1.sql.gz
/lrvl1.sql.gz
projects/*/public/vendor/
projects/*/public/web/core/
projects/*/public/web/modules/contrib/
projects/*/public/web/themes/contrib/

projects/*/public/web/sites/default/files/
projects/*/public/web/sites/default/settings.php